@model ErrorViewModel
@{
    ViewData["Title"] = "Error";

    var requestId = Model?.RequestId;
}

<h1 class="text-danger">Error.</h1>


@if (!string.IsNullOrEmpty(requestId))
{
    <p>
        <strong>Request ID:</strong> <code>@requestId</code>
    </p>
}